<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/assests/logo.png" alt="" /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between align-items-center w-100"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mx-auto text-md-center text-left">
        
      </ul>

      <li class="d-flex login-buttons">
        <a href="/signup" class="create-accountBtn login-Btns">Create Account</a>
        <a href="/login" class="loginBtn login-Btns">Login</a>
      </li>
    </div>
  </div>
</nav>
