<div class="main-cont">
    
    <div class="links-cont">
        <img src="/assests/logo.png" alt="">
        <hr>
        <div class="sub-link-cont">
        
        <a href="#"><i class="fas fa-globe"></i> All Posts</a>
        <a href="#"><i class="fas fa-flag"></i> Reports</a>
        <a href="#"><i class="fas fa-user"> </i> Users</a>
        </div>
    </div>

    <div class="user-opt-cont">
    <a href="#" class="btn btn-outline-danger">Logout</a>
    </div>
</div>