@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Noto+Serif:wght@700&family=Nunito:wght@600&display=swap');
body {
  margin: 0;
}
.container-main {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.form-cont-outer {
  background-image: linear-gradient(180deg, #4079C6, #85EFFF);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-cont-outer > a > .img-logo {
  width: 200px;
  margin-bottom: 40px;
}
.error-alert{
  background-color: #e63946;
  border-radius: 10px;
  color: white;
  padding: 10px;
}
.image-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-cont > img {
  width: 100%;
}

.form {
  background-color: white;
  width: 75%;
  height: 85vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form > h1 {
  font-family: 'Dongle', sans-serif;
  color: #bc00de;
  font-size: 40px;
  margin-top: 0.1px;
  margin-bottom: 0.1px;
}

.form-act {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.form-act > li {
  display: flex;
  flex-direction: column;
  
}
.form-act > li > label {
  font-family: 'Dongle';
  font-size: 20px;
}
.form-act > .btn {
  margin-top: 10px;
  width: 70%;
  align-self: center;
  background-color: #4079C6;
  border: 0;
  padding: 12px;
  border-radius: 20px;
  color: white;
  transition: all 0.2s;
  text-align: center;
  text-decoration: none;
  font-family: 'Nunito';
}
.form-act > li > input {
  border-radius: 20px;
  width: 320px;
  padding: 12px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 2px grey;
  border: none;
}
.form-act > li > input:focus {
  outline: none;
}
.form-act > p {
  align-self: center;
  font-family: 'Nunito';
  font-size: 12px;
}

#createBtn {
  background-color: #8B85FF;
  transition: all 0.2s;
}

.btn:hover {
  cursor: pointer;
  transform: translateY(-3px);
}
#createBtn:hover{
  
  color: white;
  box-shadow: 0px 1px 10px grey;
  
}