<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard Admin</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
	<script src="https://kit.fontawesome.com/51651c8865.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/admincss/boilerplate.css">
	<link rel="stylesheet" href="/admincss/sidebar.css">
	<link rel="stylesheet" href="/admincss/report.css">
	
</head>

<body>
	<nav>
	<%-include('../partials/sidenavadmin')%>
	</nav>
	<div class="main-body-cont">
		<%- body %>
	</div>
	
</body>

</html>