<% layout('boilerplate/boilerplatein') %>
<div class="container form-contain">
  
  <form action="/changepassword/<%=loggedinUser._id%>"   method="post">
   
    <div class="mb-3">
      <label for="exampleFormControlInput2" class="form-label"> <h4>Change Password </h4><br>Enter Old Password</label>
      <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="Enter Old Password" name="passwordOld" required/>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput2" class="form-label"
        >New Password</label
      >
      <input
        type="password"
        class="form-control"
        id="exampleFormControlInput2"
        placeholder="Enter New Password"
        name="passwordNew"
        required
      />
    </div>
    

    <button type="submit" class="btn btn-warning">Update</button>
    <% if(!loggedinUser.isAdmin){ %> 
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete Account</button>
    <% } %> 
    <a href="javascript:history.back()" class="btn btn-success btn-cancel">Cancel</a>
  
  
    </form>
  
  
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are You Sure Your Want to Delete Your Account?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="/users/<%=loggedinUser._id%>?_method=DELETE" method="post" novalidate>
          <button class="btn btn-outline-danger">Delete Account</button>
        </form>
        
      </div>
    </div>
  </div>
</div>
