<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>afterSchool by Abdullah</title>
    <link rel="icon" href="/assests/logofav.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/landingpage.css" />
    <%-include('../partials/headerlinks')%>
  </head>
  <body>
    <%-include('../partials/navbarlanding')%>
    <div class="container-intro">
      <div class="introtext">
        <div class="introtext-cont">
          <h2>Find Friends</h2>
          <h2>Find Interests</h2>
          <h2>Find Events</h2>
          <h2>All afterSchool</h2>
          <p>
            New to Inti? Don’t worry! We will help you find your new friends
            along with new Interests and more. Catch Up With what’s going on in
            the campus and outside with campus. Join Now and Start Your Uni Life
            in Style
          </p>
          <a href="/signup" class="loginBtn login-Btns">Join Now</a>
        </div>
      </div>
      <div class="introimg">
        <img src="/assests/image1.png" alt="" />
      </div>
    </div>
    <footer>
      <p>
        All Right Reserved By Abdullah Ibn Shahin |
        <a href="#">Privacy Policy</a> |
        <a href="">Terms & Conditions</a>
      </p>
    </footer>

    <%-include('../partials/bodyjslink')%>
  </body>
</html>
